<script type="text/javascript">
var wifi4euTimerStart = Date.now();
var wifi4euNetworkIdentifier = '{{ wifi4eu_net_ident }}';
var wifi4euLanguage = '{{ wifi4eu_lang }}';
/* var selftestModus = true; */
</script>
<script type="text/javascript" src="https://collection.wifi4eu.ec.europa.eu/wifi4eu.min.js"></script>
